*{
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 800px;
  min-height: 600px;
  margin: 80px auto;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.item {
  width: 120px;
  height: 120px;
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  line-height: 110px;
}

.item1 {
  background-color: steelblue;
  align-self: flex-start;
}

.item2 {
  background-color: salmon;
  align-self: flex-end;
  /* font-size: 4em; */
}

.item3 {
  background-color: purple;
}